{% extends "window.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}">
{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{title}}</h1>
        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% block other %}{% endblock %}
        </div>
        <div class="col-sm-6">
            <div class="card bg-primary text-white">
                <div class="card-body">
                        <form method="POST" action="" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <table class="table">
                                {{form.as_table}}
                            </table>
                            <button class="btn btn-default pull-right" type="submit">Submit</button>
                            </form>
                </div>
                    
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    
</div>


{% endblock %}