{% extends "base.html" %}
{% block window %}

<nav class="navbar navbar-expand-sm bg-light" >
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">Smart School</a>
            <li class="nav-item active"><a class="nav-link" href="{% url 'invoicing:home' %}">Invoicing</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'inventory:home' %}">Inventory</a></li>
            <li><a class="nav-link" href="{% url 'accounting:dashboard' %}">Accounting</a></li>
            <li class="nav-item" ><a class="nav-link" href="{% url 'shopping:home' %}">Shopping</a></li>
            <li><a class="nav-link" href="#">Events</a></li>
            <li><a class="nav-link" href="#">Parents</a></li>
            <li><a class="nav-link" href="#">Students</a></li>
            <li><a class="nav-link" href="#">Staff</a></li>
            <li><a class="nav-link" href="#">Library</a></li>
        </ul>
</nav>

{% block content %}{% endblock %}
<script type="text/javascript">
    $(".ui-date-picker").datepicker();
</script>
{% endblock %}