{% extends "window.html" %} {% block content %}


<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1 style="color: #77f">Invoicing Dashboard</h1>
        <hr />
        </div>
        
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Personnel</h3>
                </div>
                <div class="panel-body">
                    <li><a href="{% url 'invoicing:create-sales-rep' %}">Add Sales Rep</a></li>
                    <li><a href="{% url 'invoicing:sales-reps-list' %}">List and Review Sales Reps</a></li>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoicing</h3>
                </div>
                <div class="panel-body">
                    <li><a href="{% url 'invoicing:create-invoice' %}">Create New Invoice</a></li>
                    <li><a href="{% url 'invoicing:invoices-list' %}">List Invoices</a></li>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                      <h3 class="panel-title">Payments</h3>
                </div>
                <div class="panel-body">
                      <ul>
                          <li><a href="{% url 'invoicing:create-payment' %}">Apply Payment</a></li>
                          <li><a href="{% url 'invoicing:payments-list' %}">List Payments</a></li>
                      </ul>
                </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Products</h3>
                </div>
                <div class="panel-body">
                    <li><a href="{% url 'invoicing:create-item' %}">Add Item</a></li>
                    <li><a href="{% url 'invoicing:items-list' %}">List Items</a></li>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Clients</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{% url 'invoicing:create-customer' %}">Add client</a></li>
                        <li><a href="{% url 'invoicing:customers-list' %}">Client list</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Related Forms</h3>
                </div>
                <div class="panel-body">
                    <li><a href="#">Receipts</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Quotes</a></li>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Reports</h3>
                        </div>
                        <div class="panel-body">
                            <li><a href="#">Invoice Reports</a></li>
                            <li><a href="#">Customer Reports</a></li>
                            <li><a href="#">Unpaid Accounts Report</a></li>
                            <li><a href="#">Sales Rep reports</a></li>
                            <li><a href="#">Statement</a></li>
                            <li><a href="#">Inventory Reports</a></li>
                        </div>
                    </div>
            
            
            
        </div>
        <div class="col-sm-4">
            
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Configuration</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li><a href="{% url 'invoicing:config' %}">Settings</a></li>
                            </ul>
                        </div>
                    </div>
        </div>
        <div class="col-sm-4"></div>
    </div>



</div>




{% endblock %}