{% extends "window.html" %}
{% block content %}
{% load render_bundle from webpack_loader %}

<div class="jumbotron">
    <div class="container">
        <h1>Create New Invoice</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
                <form method="POST" action="">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td><label>Customer:</label></td>
                                <td><div id="customer-search"></div></td>
                            </tr>
                            {{form.as_table}}
                        </table>
                        <button type="submit" class="btn btn-primary pull-right">Submit</button> 
                    </form>
        </div>
        <div class="col-sm-8" id="item-table">

        </div>
    </div>
    
</div>


{% render_bundle 'invoicing' %}
{% endblock %}